.heading {
    font-size: 50px;
    width: 100%;
    box-shadow: 1px 50px 5px rgb(9, 120, 211);
}

.heading_div {
    float: none;
    background: white;
    padding: 10px;
    border-radius: 20px;
    color: black;
    box-shadow: 5px 5px 5px rgb(248, 117, 29);
}